.banner {
  background-image: url("../images/the-flatiron-building.png");
}
div#site-header {
  padding-top: 50px;
  padding-bottom: 50px;

}

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: black;
}

h1 {
  font-size: 70px
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.top-nav {
  font-size: 18px;
  color: white;
}

a:link {
  color:white;
}

p {
  font-size: 14px;
}

#mid-page-banner {
  color: white;
}

.footer {
  text-align: left;
  background-color: gray;
  color: white;
}

span.footer {
  font-size: 11px;
}
